/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  font-family: "Helvetica", sans-serif !important;
  color: #000;
  height: 100%;
    min-height: 100%;
}

a {
  color: #000;
}

a:hover {
  color: #616A71;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", sans-serif !important;
  color: #black !important;
}

.text-primary{
  font-size: 48px;
  font-weight: 700;
  color: black !important;
}

.clearfix{
  overflow: auto;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/*--------------------------------------------------------------
#span button
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#Cards
--------------------------------------------------------------*/
.col-md-4 {
  padding-bottom: 20px;
}
h3.card-title {
  margin-right: 0.75rem !important;
}

.card {
  margin-bottom: 20px;
  filter: invert(0%);
}

.card:hover{
	filter: invert(80%);
}

/*--------------------------------------------------------------
# Go Top button & Post Button
--------------------------------------------------------------*/
#TopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  margin-bottom: 20px;
}

#TopButton:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 35px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 20px;
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 72px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 15px 0;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}

#header .logo h1 {
  font-size: 30px;
  margin: 0;
  padding: 6px 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#header .logo h1 a, #header .logo h1 a:hover {
  color: black;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    height: 60px;
    padding: 8px 0;
  }
}

@media (max-width: 768px) {
  #header {
    height: auto;
    width: auto;
    padding: 8px 0;
  }
}

.mr-auto {
  margin-left: 40px;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.container {
  padding-bottom: 100px;
}

#footer {
    position: fixed;
    height: 50px;
    background-color: red;
    bottom: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    margin-bottom: inherit;
    padding-top: 60px;
    z-index: -1;

}

/*--------------------------------------------------------------
# Gallery
--------------------------------------------------------------*/

.filter-button
{
  font-size: 18px;
  text-align: center;
  color: #000;
  margin-bottom: 30px;

}
.filter-button:hover
{
 opacity: 0.5;
}
.btn-default:active .filter-button:active
{

  background-color: #000;
  color: white;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.row .column {
  flex:33.3%;
  width: auto;
  overflow: hidden;
  /*padding: 0 1px;*/
  height: 100%;
}

.row .column img {
  width: 100%;
  height: 100%;
  cursor: pointer;;
  filter: grayscale(1) brightness(0.5);
  /*border-radius: 5px;*/
  transition: 0.3s linear;
}
.row .column img:hover{
  filter: grayscale(0) brightness(1);
}


@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
  .column img {
    filter: grayscale(0) brightness(1);
  }
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.d-flex.flex-row{
  margin-right: 20px;
}

.nav-menu, .nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.nav-menu a {
  display: block;
  position: relative;
  color: b;
  padding: 8px 0 12px 0;
  transition: 0.3s;
  font-size: 14px;
  font-family: "Helvetica", sans-serif;
}

.nav-menu > ul > li + li {
  margin-left: 30px;
}

/*underline animation */
.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 3px;
  left: 0;
  background-color: black;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: black;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: white;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #062822;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: black;
}

.nav-menu .drop-down > a:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;}

  .dropdown-toggle::after li{
    content: none !important;
  }

  .nav-menu .drop-down .drop-down ul {
    top: 0;
    left: calc(100% - 30px);
  }

  .nav-menu .drop-down .drop-down:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
  }

  .nav-menu .drop-down .drop-down > a {
    padding-right: 35px;
  }

  .nav-menu .drop-down .drop-down > a:after {
    content: "\eaa0";
    font-family: FontAwesome;
    position: absolute;
    right: 15px;
  }

  @media (max-width: 1366px) {
    .nav-menu .drop-down .drop-down ul {
      left: -90%;
    }
    .nav-menu .drop-down .drop-down:hover > ul {
      left: -100%;
    }
    .nav-menu .drop-down .drop-down > a:after {
      content: "\ea9d";
    }
  }

/**************************************
 Mobile Navigation
 *************************************/
 .mobile-nav-toggle {
  position: fixed;
  right: 25px;
  top: 0 px;
  z-index: 1030;
  border: 0;
  background: none;
  font-size: 40px;
  transition: all 0.4s;
  outline: none !important;
  cursor: pointer;
  text-align: right;
  display: inline-block;
}

.mobile-nav-toggle i {
  color: black;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: black;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  font-weight: bold;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .255em;
  vertical-align: .255em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-bottom: 0;
  border-left: .3em solid transparent;
}

/*.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}*/

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(16, 31, 29, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: black;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: calc(100vh - 72px);
  background: white center center;
  background-size: cover;
  position: relative;
  padding: 0;
}

#hero:before {
  content: "";
  background: white;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .container {
  z-index: 0;
}


#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  color: black;
}


#hero h2 {
  color: black;
  margin-bottom: 35px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Helvetica", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 4px;
  transition: 0.5s;
  border: 2px solid black;
  color: black;
}

#hero .btn-get-started:
{
  border-color: #1bac91;
  background: #1bac91;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #hero {
    margin-top: 10px; /*TODO capire*/
    height: calc(100vh - 60px);
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
    width: 100%;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*SEARCH*/



input {
	margin: 20px 0;
	background: none;
	border-bottom: 1px solid black;
	border-top: none;
	border-left: none;
	border-right: none;
	width: auto;
	height: 30px;
}

input:focus {
	outline: none;
	border-bottom: 3px solid black;
	color: black;
}

input#title{
  margin-left: 0px !important;
}

.form-control {
  margin: 30px 0;
  background: none;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  height: 30px;
}

.form-control:focus {
	outline: none;
	border-bottom: 3px solid black;
	color: black;
}
::-webkit-input-placeholder {
	color: black;
	font-weight: bold;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: black;
	font-weight: bold;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: black;
	font-weight: bold;
}

:-ms-input-placeholder {
	color: black;
	font-weight: bold;
}


button {
  vertical-align: middle;
  margin: auto;
  background: none;
  border: 0;
}

button:focus {
	outline: none;
}


/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about h3 {
  font-weight: 400;
  font-size: 34px;
  color: #616A71;
}

.about .icon-box {
  margin-top: 44px;
}

.about .icon-box i {
  font-size: 48px;
  float: left;
  color: #1bac91;
}

.about .icon-box h4 {
  font-size: 22px;
  font-weight: 500;
  margin-left: 60px;
  color: #616A71;
}

.about .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

img-about{
  width: 30%;
  height: 30%:
}
/* * * * * * * * *
* SINGLE PAGE
* * * * * * * * */
.content .post-wrapper {
	width: 70%;
	float: left;
	min-height: 250px;
}
.full-post-div {
	min-height: 300px;
	padding: 20px;
}
.full-post-div h2.post-title {
	margin: 10px auto 20px;
	text-align: center;
}
.post-body-div {
	font-size: 1.2em;
  margin-top: 50px;
}
.post-body-div p {
	margin:20px 0px;
}
.post-sidebar {
	width: 24%;
	float: left;
	margin-left: 5px;
	min-height: 400px;
}
.content .post-comments {
	margin-top: 25px;
	border-radius: 2px;
	border-top: 1px solid #e4e1e1;
	padding: 10px;
}
.post-sidebar .card {
	width: 95%;
	margin: 10px auto;
	border: 1px solid #e4e1e1;
	border-radius: 10px 10px 0px 0px;
}
.post-sidebar .card .card-header {
	padding: 10px;
	text-align: center;
	border-radius: 3px 3px 0px 0px;
	background: #3E606F;
}
.post-sidebar .card .card-header h2 {
	color: white;
}
.post-sidebar .card .card-content a {
	display: block;
	box-sizing: border-box;
	padding: 8px 10px;
	border-bottom: 1px solid #e4e1e1;
	color: #444;
}
.post-sidebar .card .card-content a:hover {
	padding-left: 20px;
	background: #F9F9F9;
	transition: 0.1s;
}
/*------------LOGIN SIGNUP & EDIT BOX---------------*/


#logbox {
  padding: 10px;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  width: 340px;
  text-align: center !important;
  background-color: #fff;
  border-style: solid;
  border-width: thin;

}

#editbox {
  padding: 10px;
  margin-top: auto;
  width: auto;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border-style: solid;
  border-width: thin;
}

#signupbox {
  padding: 10px;
  margin-top:40px;
  width: 340px;
  text-align: left;
  background-color: #fff;
  border-style: solid;
  border-width: thin;
}


/*---------ADMIN DASHBOARD ELEMENTS-------*/

/*------------td---------------*/
.table th,
.table td {

  vertical-align: middle;

}


.usersdata{
  width: 100%;
}

.page-item.active .page-link {
 color: #fff !important;
 background-color: #616A71 !important;
 border-color: #616A71 !important;
}

.page-link {
 color: #616A71 !important;
 background-color: #fff !important;
 border: 1px solid #616A71 !important;
}

.page-link:hover {
 color: #fff !important;
 background-color: #616A71 !important;
 border-color: #616A71 !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
 background-color: #96BE79 !important;
 border-color: #96BE79 !important;
 display: inline-block;
}


/* CONTENT TODO pulire superfluo */
.content {
  margin: 5px auto;
  border-radius: 5px;
  min-height: auto;
}
.content:after {
  content: "";
  display: table;
  clear: both;
}
.content .content-title {
  margin: 10px 0px;
}
.content .post {
  width: 335px;
  margin: 9px;
  min-height: 320px;
  text-align:  left !important;
  position: relative;
}
.content .post .category {
  margin-top: 0px;
  padding: 3px 8px;
  color: #374447;
  background: white;
  display: inline-block;
  border-radius: 2px;
  border: 1px solid #374447;
  box-shadow: 3px 2px 2px;
  position: absolute;
  left: 5px; top: 5px;
  z-index: 3;
}
.content .post .category:hover {
  box-shadow: 3px 2px 2px;
  color: white;
  background: #374447;
  transition: .4s;
  opacity: 1;
}
.content .post .post_image {
  height: 260px;
  width: 100%;
  background-size: 100%;
  min-height: 335px;
  max-height: 335px;
}
.content .post .post_image {
  width: 100%;
  height: 100%;
}

.post_image:hover {
  filter: invert(80%);

}
.content .post .post_info {
  /*height: 100%; */
  padding: 10px 5px;
  font-weight: 200;
}
.content .post .post_info {
  color: #222;
}
.content .post .post_info span {
  color: #A6A6A6;
  font-style: italic;
}
.content .post .post_info span.read_more {
  position: absolute;
  right: 5px; bottom: 5px;
}


/* * * * * * * * *
* SINGLE PAGE BLOG
* * * * * * * * */
.content .post-wrapper {
  width: 70%;
  float: left;
  min-height: 250px;
}
.full-post-div {
  min-height: 300px;
  padding: 20px;
}
.full-post-div h2.post-title {
  margin: 10px auto 20px;
  text-align: center;
}
.post-body-div p {
  margin:20px 0px;
}
.post-sidebar {
  width: 24%;
  float: left;
  margin-left: 5px;
  min-height: 400px;
}

.post-sidebar .card {
  width: 95%;
  margin: 10px auto;
  border: 1px solid #e4e1e1;
  border-radius: 10px 10px 0px 0px;
}
.post-sidebar .card .card-header {
  padding: 10px;
  text-align: center;
  border-radius: 3px 3px 0px 0px;
  background: #3E606F;
}
.post-sidebar .card .card-header h2 {
  color: white;
}
.post-sidebar .card .card-content a {
  display: block;
  box-sizing: border-box;
  padding: 8px 10px;
  border-bottom: 1px solid #e4e1e1;
  color: #444;
}
.post-sidebar .card .card-content a:hover {
  padding-left: 20px;
  background: #F9F9F9;
  transition: 0.1s;
}

}
/* * * * * * * * *
* CAROUSEL
* * * * * * * * */
